.admin-dashboard {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  align-items: stretch;
  
  table {
    height: auto;
    align-self:stretch;
    max-width: 20%;
    flex: 0 0 20%;
    tr {
      vertical-align: top;
    }
    
    td {
      padding-right: 20px;
      &:last-child {
        text-align: right;
      }
    }
  }
}

.user-activities {
  margin-top: 2rem;
}