.user-dashboard {
  
}

.budget {
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 1rem;
  .card-box {
    display: flex;
    justify-content: space-between;
    .amount {
      font-size: 30px;
      font-weight: bold;
      color: green;
    }
  }
}

.information-wrapper {
  margin-top: 2rem;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 1rem;
  
  h4 {
    text-decoration: underline;
  }

  .information-content {;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;

    table {
      height: auto;
      align-self:stretch;
      max-width: 30%;
      flex: 0 0 30%;

      tr {
        vertical-align: top;
      }
      td {
        padding-right: 20px;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
  .card-wrap {
    min-height: 100%;
  }
  .ant-card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .ant-card-body {
      flex: 1;
    }
    .ant-card-actions {
      max-height: 58px;
    }
  }
}


.plan-description {
  color: #333;
  .price {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
}
