body {
  font-size: 16px;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.container {
  //max-width: 1600px;
  margin: 0 auto;
  //padding: 0 12px;
  min-height: 100vh;
}
.container>.ant-layout {
  min-height: 100vh;
}

.ant-menu-inline {
    font-size: 18px ;
}
.user .ant-layout-sider-dark {
  padding-top: 100px;
}

.ant-form-item {
  margin-bottom: 10px;

  .ant-form-item-row {
    flex-direction: column;
    .ant-form-item-label {
      text-align: left;
      font-weight: 500;
    }
  }
}

.ant-card-meta-detail {
  width: 100%;
}
.ant-card-meta-title {
  width: 100%;
}

.ant-input-number {
  width: 100%;
}

.ant-layout {
  background: #ececec;
}

.ant-layout-content {
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #ccc;
}

.ant-table {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

.ant-layout-content {
  @media screen and (max-width: 677px) {
    padding: 0 !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.admin-layout {
  display: flex;
}

.main-menu {
  position: static;
}

.main-menu.menu-light .navigation>li.sidebar-group-active>a {
  background: #fff !important;
}

.main-menu.menu-light .navigation>li.open:not(.menu-item-closing)>a {
  background: #fff !important;
}
.main-menu .parent {
  font-weight: bold;
}